.court-container {
	width: 50%;
	margin: 10px 0;
}

.toolbar-user {
	margin-left: auto;
}
.toolbar-user span {
	line-height: 40px;
	margin-left: 5px;
}
.toolbar-user span,
.toolbar-user-avatar {
	vertical-align: middle;
}
.toolbar-user-avatar {
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-size: cover;
}
body {
	overflow-x: hidden;
}
.not-logged-message {
	& {
		padding-top: 60px;
		text-align: center;
	}
	.md-primary {
		padding: 30px;
		font-size: 32px;
	}
}
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}

md-toast.md-primary .md-toast-content {
	background-color: #3f51b5;
}
md-toast.md-warn .md-toast-content {
	background-color: #f4511e;
}