<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>FirePadel</span>
        </h2>
        <div class="toolbar-user" ng-show="home.userData">
            <div class="toolbar-user-avatar" style="background-image: url({{ ::home.userData.photoURL}})"></div>
            <span>
                {{ ::home.userData.email }}
            </span>
        </div>
        <div >

        </div>
    </div>
</md-toolbar>
<chat-window ng-if="home.messageService.messages != undefined" class="md-whiteframe-6dp"></chat-window>
<div class="court-container">
    <court ng-repeat="court in ::home.courts" data="court" users="home.user"></court>
</div>
