<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>WallaPadel with Firebase</span>
        </h2>
        <div class="toolbar-user">
            <div class="toolbar-user-avatar" style="background-image: url({{home.user.photoURL}})"></div>
            <span>
                {{home.user.email}}
            </span>
        </div>
    </div>
</md-toolbar>
<chat-window ng-if="home.messageService.messages != undefined"></chat-window>
<div class="court-container">
    <court ng-repeat="court in home.courts" data="court" users="home.user"></court>
</div>
