<div class="chat-window-container">
    <div class="chat-messages-container" sascroll-glue>
        <chat-message ng-class="{'self-author' : message.uuid == chatWindow.authorId}"
                      ng-repeat="message in chatWindow.messages"
                      message="message"></chat-message>
    </div>

    <md-input-container md-no-float class="md-block">
        <input type="text" ng-keyup="chatWindow.inputKeyPress($event.keyCode)" placeholder="Message"
               ng-model="chatWindow.message">
        <md-icon ng-class="{'active' : chatWindow.isInputFieldEmpty() }" md-font-library="material-icons"
                 ng-click="chatWindow.sendMessage(chatWindow.message)">send
        </md-icon>
    </md-input-container>
</div>
