chat-window {
	& {
		background-color: #eceff1;
		width: 400px;
		padding: 0 0 10px 10px;
		position: absolute;
		bottom: 0;
		right: 0;
		height: 600px;
	}
	.chat-window-container {
		position: absolute;
		width: 400px;
		height: 600px;
	}
	.chat-messages-container {
		position: relative;
		height: auto;
		overflow-y: scroll;
		height: calc(100% - 60px);
	}
	md-input-container {
		& {
			display: block;
			width: calc(100% - 20px);
			margin-top: 10px;
			padding-bottom: 5px;
		}
		input {
			width: calc(100% - 34px);
			display: inline-block !important;
			vertical-align: top;
		}
		md-icon {
			& {
				display: inline-block !important;
				position: relative;
				vertical-align: middle;
				line-height:30px;
				color: #9d9b99 !important;
				fill: #9d9b99;
				cursor: not-allowed;
			}
			&:hover {
				opacity: .9;
			}
			&.active {
				cursor: pointer;
				color: #3f51b5 !important;
				fill: #3f51b5;
			}
		}
	}
}