<md-card>
    <md-toolbar class="md-padding">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Court - {{data.id}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-content class="md-padding">
        <md-card-actions>
            <div class="court-avatar" ng-repeat="user in data.users" style="background-image: url({{user.avatar}});"></div>
            <md-button class="md-fab md-primary court-join-button" ng-click="court.joinCourt(data.id)">Join</md-button>
        </md-card-actions>
    </md-content>

</md-card>