<md-card>
    <md-toolbar class="md-padding">
        <md-card-title style="padding: 0;">
            <md-card-title-text>
                <span class="md-headline">Court - {{::data.id}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-content class="md-padding">
        <md-card-actions>
            <div class="court-avatar"
                 ng-repeat="user in data.users"
                 style="background-image: url({{::user.avatar}});">
                <md-tooltip>
                    {{::user.name}}
                </md-tooltip>
            </div>
            <md-button
                       ng-class="{'hidden': joinedAnyCourt}"
                       ng-disabled="court.getUserLength(data.users)"
                       class="md-fab md-primary court-join-button"
                       ng-click="court.joinCourt()">
                <md-icon md-font-library="material-icons">
                    person_add
                </md-icon>
            </md-button>
            <md-button ng-class="{'hidden': !court.joined}"
                       class="md-fab md-warn court-join-button" ng-click="court.leaveCourt()">
                <md-icon md-font-library="material-icons">
                    clear
                </md-icon>
            </md-button>
        </md-card-actions>
    </md-content>
</md-card>