chat-message {
	$avatar-width: 32px;
	& {
		display: block;
		overflow: hidden;
		margin-top: 20px;
		width: calc( 100% - 4px);
	}
	&.self-author {
		.chat-message-text {
			float: left;
			background-color: #cfd8dc;
		}
		.chat-message-avatar {
			float: right;
		}
		.chat-message-author {
			float: right;
		}
	}
	.chat-message-avatar {
		& {
			float: left;
			width: $avatar-width;
			height: $avatar-width;
			border-radius: 50%;
			background-size: cover;
		}
	}
	.chat-message-text {
		color: #263238;
		font-size:13px;
		line-height:16px;
		float: right;
		width: calc(100% - 66px);
		padding: 7px;
		margin-right: 10px;
		background-color: #fff;
		border-radius: 4px;
	}
	.chat-message-author {
		float: left;
		padding-top: 3px;
		text-align: center;
		width: 32px;
		color: rgba(0, 0, 0, .54);
		font-size: 11px;
	}
}
